<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "cheesechase.phoenixnyan.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Cheese Chasers</name>

    <description>
        Cheese Chasers is a game by RedPCat himself! To get the cheese move your mouse/finger to get there! Made on Scratch!
    </description>

    <author href="http://scratch.mit.edu/users/Phoenixnyan" email="awesomepcat@gmail.com">
        Phoenixnyan
    </author>

</widget>
